# Bu faylni "env" deb emas, ".env" deb nusxa oling va haqiqiy ma'lumotlaringizni yozing
# (.env fayli GitHub'ga yuklanmaydi, xavfsiz)

ESKIZ_EMAIL=sizning_emailingiz@mail.com
ESKIZ_PASSWORD=sizning_eskiz_parolingiz
ESKIZ_FROM=4546
OSHPAZ_PHONE=998901234567
